<body>
<h1>Welcome to Chirpus Pizza</h1>

<table class = "centerTable">
    <tr>
        <th>Item</th>
        <th>Category</th>
        <th>Price</th>
        <th>Vegetarian?</th>
        <th></th>
    </tr>
@for(u of menu; track $index){
    <tr> 
        
        @if(u.soldOut === true)
        {
            @if(u.vegetarian === true)
            {
                <td [class.soldOut] = "true"> 🍃{{u.name}} (Sold Out)</td>
            }
            @else {
                <td [class.soldOut] = "true"> {{u.name}} (Sold Out)</td>
            }
            
        }
        @else 
        {
            @if(u.vegetarian === true)
            {
                <td>🍃{{u.name}}</td>
            }
            @else {
                <td>{{u.name}}</td>
            }
            
        }

        <td>{{u.category}}</td>
        <td>{{u.price | currency}}</td>
        @if(u.vegetarian === true)
        {
            <td>Vegetarian</td>
        }
        @else {
            <td></td>
        }
            <td><button (click) = "addToOrder(u.price)" [disabled]="u.soldOut">Add to Order</button></td> 
    </tr>
            


    
}
<h2>Current Order Cost:{{this.total | currency}} </h2>
<button (click) = "resetOrder()"> Reset Cart </button>
</table>
</body>